<header class="header header--error">
  <a class="header__logo header__logo--{{codeError}} logo" href="#">
    <img src="/img/icons/logo.svg" alt="логотип Тайпотеки">
  </a>
  <a class="header__registration" href="#">Регистрация</a>
  <a class="header__enter" href="#">Вход с паролем</a>
  <a class="header__search button button--search" href="#" aria-label="поиск по сайту"></a>
</header>
