{{>header-error}}

<main>
  <h1 class="visually-hidden">Ошибка 404</h1>
  <section class="error">
    <h2 class="error__title title title--big">Похоже ошиблись адресом</h2>
    <a class="error__link text text--big" href="/">Вернуться на главную</a>
  </section>
</main>

{{>footer}}
