{{>header-error}}

<main>
  <h1 class="visually-hidden">Ошибка 500</h1>
  <section class="error error--500">
    <h2 class="error__title title title--big">Что-то пошло не так</h2>
    <p class="error__text text text--big">Причин может быть много: сервер не выдержал нагрузку или в коде ошибка.
      Попробуйте повторить попытку позже.</p>
    <a class="error__link text text--big" href="/">Вернуться на главную</a>
  </section>
</main>

{{>footer}}
