{{>header-admin}}

<main>
  <section class="search-page">
    <div class="search-page__wrapper">
      <h1>Поиск</h1>
      <div class="search search-page__form">
        <form action="#" method="get">
          <label>
            <input type="text" name="search" placeholder="Что ищем?">
          </label>
          <button class="search__button button button--transparent" type="submit">Найти</button>
        </form>
      </div>
    </div>
  </section>
</main>

{{>footer}}
