{{>header}}

<main>
  <h1 class="visually-hidden">Регистрация пользователя</h1>
  <section>
    <div class="popup popup--registration popup--anti">
      <a class="popup__button button button--popup-close" aria-label="Закрыть окно">Закрыть
        окно</a>
      <h2 class="popup__title">Войти</h2>
      <div class="popup__form form form--log-in">
        <form action="#" method="get">
          <div class="form__field"><label><input type="email" name="email" placeholder="Электронная почта" required=""></label>
          </div>

          <div class="form__field"><label><input type="password" name="password" placeholder="Пароль" required=""></label></div>
          <p class="form__error-message">Некоторая ошибка произошла, беда!</p>
          <button class="form__submit-btn form__submit-btn--log-in button button--colored" type="submit">Войти</button>
        </form>
      </div>
    </div>
  </section>
</main>

{{>footer}}
