<section class="main-page__hot hot">
  <h2 class="hot__name">Самое обсуждаемое <span class="hot__icon hot__icon--fire"></span></h2>
  <ul class="hot__list">
    <li class="hot__list-item">
      <a class="hot__list-link" href="#">Билл Гейтс впервые за два года возглавил рейтинг самых богатых людей
        мира по версии Bloomberg <sup class="hot__link-sup">12</sup>
      </a>
    </li>
    <li class="hot__list-item">
      <a class="hot__list-link" href="#">Сервис для аналитики Telegram-чатов Combot попал под блокировку из-за
        информации на служебной <sup class="hot__link-sup">15</sup> странице
      </a>
    </li>
    <li class="hot__list-item hot__list-item--margin">
      <a class="hot__list-link" href="#">Модель Кайли Дженнер продаст 51% своей компании Kylie Cosmetics
        владельцу Factor за $600 млн <sup class="hot__link-sup">52</sup>
      </a>
    </li>
    <li class="hot__list-item hot__list-item--end">
      <a class="hot__list-link" href="#">Tesla получила 146 тысяч предзаказов на электрический пикап Cybertruck
        за двое суток <sup class="hot__link-sup">153</sup>
      </a>
    </li>
  </ul>
</section>
